<div class="body-wrapper">
  <div class="body-wrapper__left"></div>
  <div class="body-wrapper__center">
    <%= react_component "SentencesIndex" %>
  </div>
  <div class="body-wrapper__right"></div>
</div>