/*
* Colors
*/

// Main/Color
$primary: #4783db;
$p-light: #80b2ff;
$p-dark: #0057a9;
$white: #ffffff;
$black: #343434;

// Main/grayscala
$gray-300: #e3e3e3;
$gray-400: #d2d2d2;
$gray-600: #a3a3a3;
$gray-800: #7d7d7d;

// System
$error: #ff5252;
$success: #4caf50;
$warning: #ffc107;

.title {
  font-size: 24px;
  color: aqua;
}
