/*
* Colors
*/

// Main/Color
$primary: #4783db;
$p-light: #80b2ff;
$p-dark: #0057a9;
$white: #ffffff;
$black: #343434;

// Main/grayscala
$gray-300: #e3e3e3;
$gray-400: #d2d2d2;
$gray-600: #a3a3a3;
$gray-800: #7d7d7d;

// System
$error: #ff5252;
$success: #4caf50;
$warning: #ffc107;

/*
* Common
*/

body {
  color: $black;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:hover {
    opacity: 0.8;
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input:focus {
  outline: none;
}

ul,
li {
  padding: 0;
  list-style: none;
}

@import "body-wrapper.scss";
@import "components/header.scss";
@import "components/sentence.scss";
@import "components/sentence-wrapper.scss";
@import "components/visibility-menu.scss";
@import "components/search-box.scss";
@import "components/utilities/loading.scss";
@import "components/utilities/pagination.scss";
