.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    margin: auto;
    width: 100%;
    max-width: 1192px;
    padding: 0 88px;
  }

  &__links {
    display: flex;
    align-items: center;
    margin-left: 48px;
  }

  &__link {
    margin-left: 32px;
    font-size: 24px;
    font-weight: bold;
  }
}
